body{
background-color: #76BF72;
margin:1%;
}
h1,h2,h3,h4,h4,h5,h6,label,p,th,td,a,input{
    /*color: #FFDF4F;*/
	color: white;
}
label{
    font-size: 15px;
}
p{
	font-size: 20px;
	margin: 0;
}
.errore{
    color: #E8501F;
}
#titolo{
    color: white;
}
#misurazioni{
    font-size: 30px;
}

/*.card{
    /*background-color:lightblue;
    width: 50%;
}*/

#co2verde{
	width: 100px;
	height: 100px;
	background: green;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#co2verdechiaro{
	width: 100px;
	height: 100px;
	background: lightgreen;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#co2giallo{
	width: 100px;
	height: 100px;
	background: yellow;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#co2arancione{
	width: 100px;
	height: 100px;
	background: orangered;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#co2rosso{
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#humblu{
	width: 100px;
	height: 100px;
	background: blue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#humviola{
	width: 100px;
	height: 100px;
	background: violet;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

@media only screen and (max-width: 600px)
{
    #co2rosso,#co2arancione,#co2giallo,#co2verdechiaro,#co2verde,#humblu,#humviola{ display:none; }
}

.meteo{
    border-left: 6px solid;
	border-color: #1F9C8B;
	border-radius: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}